<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>dati</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <script src="/js/common.js"></script>
</head>
<body>
<style>
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">普通用户-我的借阅</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/index'">查询书籍
            </a></p>
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/toCollect'">查看我的收藏
            </a></p>
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/toBorrow'">查看我的借阅
            </a></p>
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/toBookinglist'">查看我的预约
            </a></p>
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/toEditUser'">修改密码
            </a></p>
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/'">退出
            </a></p>
        </div>
    </div>
</nav>
<div class="container" id="app" style="background: #fafafa">


    <div class="post">
        <table class="table table-hover">
            <tr>
                <td>书名</td>
                <td>作者</td>
                <td>出版时间</td>
                <td>借阅时间</td>
                <td>最迟归还时间</td>
            </tr>
            <tr v-for="(item, i) in items">
                <td>{{item.bookName}}</td>
                <td>{{item.author}}</td>
                <td>{{item.time}}</td>
                <td>{{item.startTime}}</td>
                <td>{{item.endTime}}</td>
            </tr>
        </table>
    </div>

    <!--  </div>-->
</div>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            picked: '',
            items: [
            ]
        },
        methods: {
            deleteCollect:function (collectID) {
                var params={
                    collectID:collectID
                };
                $.ajax({
                    type : "post",
                    url : "/user/deleteCollect",
                    data : params,
                    success : function(data) {
                        if (data.code==500){
                            alert("您未登陆");
                            location.href="/";
                        }
                        else if(data.code==200){
                            alert("删除成功");
                        }
                        else if(data.code==404){
                            alert("失败");
                        }
                        else {
                            alert("连接错误");
                        }
                        location.reload();
                    }
                });
            }
        }
    });
    $(document).ready(function(){
        var params1=[]
        $.ajax({
            type : "post",
            url : "/user/showBorrowList",
            data : params1,
            success : function(data) {
                app.items=data;
            }
        });
    })
</script>
</body>
</html>