<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    <title>dati</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <script src="/js/common.js"></script>
</head>
<body>
<style>
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">图书馆员-查看用户列表</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <p class="navbar-text navbar-right"> <a href="javascript:location.href='/'">退出
            </a></p>
        </div>
    </div>
</nav>
<div class="container" id="app" style="background: #fafafa">

    <div class="post">
        <table class="table table-hover">
            <tr>
                <td>用户编号</td>
                <td>用户名</td>
                <td>密码</td>
                <td>操作</td>
            </tr>
            <tr v-for="(item, i) in items">
                <td>{{item.userID}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.userPassword}}</td>
                <td><button class="btn btn-danger" v-on:click="deleteUser(item.userID)">删除</button></td>
            </tr>
        </table>
        <div class="form-group"> <button  class="btn btn-primary  btn-block" onclick="javascript:window.location.href='/toAdduser'">新增用户</button></div>
    </div>


    <!--  </div>-->
</div>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            picked: '',
            items: [
            ]
        },
        methods: {
            deleteUser:function (userID) {
                var params={
                    userID:userID
                };
                $.ajax({
                    type : "post",
                    url : "/user/deleteUser",
                    data : params,
                    success : function(data) {
                        if (data.code==500){
                            $(document).dialog({
                                content: '您未登陆',
                            });
                            setTimeout(function () {
                                location.href="/";
                            },1000)
                        }
                        else if(data.code==200){
                            $(document).dialog({
                                content: '删除成功',
                            });
                            setTimeout(function () {
                                location.reload();
                            },1000)
                        }
                        else if(data.code==404){
                            $(document).dialog({
                                content: '失败',
                            });
                        }
                        else {
                            $(document).dialog({
                                content: '连接错误',
                            });
                        }
                    }
                });
            }
        }
    });
    $(document).ready(function(){
        var params1=[]
        $.ajax({
            type : "post",
            url : "/user/showUserList",
            data : params1,
            success : function(data) {
                app.items=data;
            }
        });
    })
</script>
</body>
</html>